<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myApp.gamestore.mapper.GameMapper">

    <resultMap id="BaseResultMap" type="com.myApp.gamestore.entity.Game">
            <id property="gameId" column="game_id" jdbcType="INTEGER"/>
            <result property="gameName" column="game_name" jdbcType="VARCHAR"/>
            <result property="repository" column="repository" jdbcType="VARCHAR"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="files" column="files" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="sales" column="sales" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="about" column="about" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        game_id,game_name,repository,
        images,files,tags,
        sales,state,price,
        introduce,about
    </sql>

    <select id="gameShow" resultType="com.myApp.gamestore.entity.Game">
        SELECT * FROM game ORDER BY sales desc limit #{offset},#{num};
    </select>


    <!-- page是起始位置 20是数量 -->
    <select id="searchByName" resultType="com.myApp.gamestore.entity.Game">
        SELECT * FROM game WHERE game_name LIKE #{gameName} ORDER BY sales desc limit #{page},20;
    </select>

    <select id="total" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM game WHERE game_name LIKE #{gameName}
    </select>
</mapper>
