<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myApp.gamestore.mapper.ReplyMapper">

    <resultMap id="BaseResultMap" type="com.myApp.gamestore.entity.Reply">
            <id property="replyId" column="reply_id" jdbcType="INTEGER"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="postId" column="post_id" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        reply_id,contents,user_name,
        post_id,created_time
    </sql>
</mapper>
